body {
  background: linear-gradient(0deg, #bec4fe, #fff7fa);
  width: 100%;
  height: 100vh;
}
.exercise {
  border: 1px solid black;
  background-color: pink;
  border-radius: 5px;
  margin: 5px 0;
}
.header .mangSo {
  border: 1px solid transparent;
  background: green;
  padding: 10px 0;
  border-radius: 5px;
}
.exercise span {
  color: red;
  font-size: 24px;
}
.header {
  background: black;
  border-radius: 10px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
